* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  max-width: 1219px;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 0px 55px;
}

.header {
  background-color: #007765;
  height: 84px;
  & .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__menu {
  list-style-type: none;
  display: flex;
}
.menu__columns {
  color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.main {
  background-image: url("resource_images/background_1.png");
  background-size: cover;
  height: 403px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .main__title {
    color: #ffffff;
    font-size: 72px;
  }
}

.the-problem {
  height: 719px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/* ---------------- */
  & .the-problem__title {
    color: #007765;
    font-size: 64px;
    height: 75px;
    text-align: center;
    padding-top: 70px; /*35px;*/
  }
/* ---------------- */
  & .the-problem__note {
    font-size: 32px;
    padding-top: 40px; /*20px;*/
  }
}

.quote {
  background-image: url("resource_images/background_2.png");
  background-size: cover;
  height: 483px;
/* ---------------- */
  & .quote__note {
    color: #ffffff;
    font-size: 48px;
    display: flex;
    con
  }
}
